body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center;
}

.half-width {
    width: 70%;
}

#banner-container {
    height: 650px;
    background-image: url('../images/donation1.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-white {
    color: white;
}

h1 {
    font-size: 50px;
}

.anchor-btn {
    text-decoration: none;
    font-weight: bold;
    background-color: tomato;
    padding: 10px 30px;
    border-radius: 4px;
}

h2 {
    font-size: 30px;
}

#donate-container {
    margin-top: 80px;
    margin-left: 15%;
}

#donate-amount-list {
    display: flex;
    justify-content: space-between;
}

.donate-amount {
    background-color: lightgray;
    padding: 20px 50px;
    border-radius: 5px;
}
#donate-amount-highlight {
    background-color: rgba(238, 180, 188, 0.582);
    border: 2px solid tomato;
    color: rgb(253, 78, 47);
    padding: 20px 50px;
    border-radius: 5px;
}
#price-input-area {
    margin-top: 50px;
}
#amount-input {
    border: none;
    font-size: 16px;
}
input:focus {
    outline: none;
}

#donation-plan-container {
    margin-top: 80px;
    margin-left: 15%;
}

#donation-plan {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.donation-card {
    width: 28%;
    padding: 50px 20px;
    border-radius: 5px;
}
#card1 {
    background-color: rgba(173, 216, 230, 0.39);
}
#card2 {
    background-color: rgba(238, 180, 188, 0.582);
}
#card3 {
    background-color: rgba(255, 228, 196, 0.473);
}